<!DOCTYPE html>
<html lang="{{request.locale.iso_code}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{ page_description | escape }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZmCcaYpYg0PTdF+W5jvQ2hKUg1hKq+kJQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>{{ page_title | escape }}</title>

    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{ 'output.css' | asset_url | stylesheet_tag }}

    {{ content_for_header }}
</head>
<body>

    {% sections 'header' %}

    {{ content_for_layout }}

    {{ content_for_footer }}   
</body>
</html>