<footer>
	<div class="-mb-24 relative z-10">
		<div class="container">
			<div class="bg-black px-16 py-10 rounded-3xl">
				<div class="flex items-center">
					<div class="w-1/2">
						<h2 class="text-white text-[40px] leading-[45px] ">STAY UPTO DATE ABOUT OUR LATEST OFFERS</h2>
					</div>
					<div class="w-1/2 flex items-center justify-end">
						<form class="w-100" action="">
							<div class="flex bg-white rounded-full items-center">
								<i class="fa-regular fa-envelope px-4 text-2xl text-[#909090]"></i>
								<input
									type="email"
									placeholder="Enter your email"
									class="p-4 w-full focus:outline-none"
								>
							</div>
							<button class="bg-white w-full p-4 rounded-full cursor-pointer mt-3">
								Subscribe to Newsletter
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="pb-16 pt-32 bg-[#f0f0f0]">
		<div class="container">
			<div class="flex justify-between gap-5 border-b border-[#cccccc] my-10 pb-10 ">
				{% for block in section.blocks %}
					{% case block.type %}
						{% when 'info' %}
							<div class="w-4/12" {{ block.shopify_attributes }}>
								<img src="{{ block.settings.logo | image_url }}" alt="">
								<div class="my-10">
									{{ block.settings.description }}
								</div>
								<div class="flex gap-3">
									<div class=" w-10 h-10 bg-white rounded-full flex items-center justify-center border-2 border-[#cccccc]">
										<a href="{{ block.settings.facebook }}"
											><i class="fa-brands fa-facebook"></i
										></a>
									</div>
									<div class=" w-10 h-10 bg-white rounded-full flex items-center justify-center border-2 border-[#cccccc]">
										<a href="{{ block.settings.twitter }}"><i class="fa-brands fa-twitter"></i></a>
									</div>
									<div class=" w-10 h-10 bg-white rounded-full flex items-center justify-center border-2 border-[#cccccc]">
										<a href="{{ block.settings.instragram }}"
											><i class="fa-brands fa-instagram"></i
										></a>
									</div>
									<div class=" w-10 h-10 bg-white rounded-full flex items-center justify-center border-2 border-[#cccccc]">
										<a href="{{ block.settings.linkedin }}"
											><i class="fa-brands fa-linkedin-in"></i
										></a>
									</div>
								</div>
							</div>

						{% when 'useful_links' %}
							<div class="w-2/12" {{ block.shopify_attributes }}>
								<div class="uppercase font-semibold tracking-[2px]">
									{{ block.settings.menu_title }}
								</div>
								<ul class=" leading-9 my-4">
									{% for link in block.settings.menu_links.links %}
										<li>
											<a href="{{ link.url }}">{{ link.title }}</a>
										</li>
									{% endfor %}
								</ul>
							</div>
						{% else %}
							select any block
					{% endcase %}
				{% endfor %}
			</div>
			<div class="flex items-center">
				<div class="w-1/2">
					<p>Shop.co © 2000-2023, All Rights Reserved</p>
				</div>
				<div class="w-1/2">
					<div class="flex justify-end gap-3">
						<img
							class="bg-white w-[46px] h-[30px] p-2 rounded-[5px] border-[1] border-[#D6DCE5]"
							src="{{ 'Visa.svg' | asset_url }}"
							alt="visa"
						>
						<img
							class="bg-white w-[46px] h-[30px] p-2 rounded-[5px] border-[1] border-[#D6DCE5]"
							src="{{ 'Mastercard.svg' | asset_url }}"
							alt="visa"
						>
						<img
							class="bg-white w-[46px] h-[30px] p-2 rounded-[5px] border-[1] border-[#D6DCE5]"
							src="{{ 'iPay.svg' | asset_url }}"
							alt="visa"
						>
						<img
							class="bg-white w-[46px] h-[30px] p-2 rounded-[5px] border-[1] border-[#D6DCE5]"
							src="{{ 'G Pay.svg' | asset_url }}"
							alt="visa"
						>
						<img
							class="bg-white w-[46px] h-[30px] p-2 rounded-[5px] border-[1] border-[#D6DCE5]"
							src="{{ 'Paypal.svg' | asset_url }}"
							alt="visa"
						>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

{% schema %}
{
	"name": "footer",
	"class": "sst-footer",
	"settings": [],
	"blocks": [
		{
			"type": "info",
			"name": "Info",
			"limit": 1,
			"settings": [
				{
					"type": "image_picker",
					"id": "logo",
					"label": "Logo"
				},
				{
					"type": "textarea",
					"id": "description",
					"label": "Description",
					"default": "We have clothes that suits your style and which you’re proud to wear. From women to men."
				},
				{
					"type": "url",
					"id": "facebook",
					"label": "Facebook"
				},
				{
					"type": "url",
					"id": "instagram",
					"label": "Instagram"
				},
				{
					"type": "url",
					"id": "twitter",
					"label": "Twitter"
				},
				{
					"type": "url",
					"id": "linkedin",
					"label": "Linkedin"
				}
			]
		},
		{
			"type": "useful_links",
			"name": "Useful links",
			"limit": 4,
			"settings": [
				{
					"type": "text",
					"id": "menu_title",
					"label": "Menu Title",
					"default": "Company"
				},
				{
					"type": "link_list",
					"id": "menu_links",
					"label": "Menu Links"
				}
			]
		}
	]
}
{% endschema %}
