<div class="top-bar bg-black text-white text-center py-2">
	<p>Sign up and get 20% off to your first order. <a href="">Sign Up Now</a></p>
</div>
<div class="py-6">
	<div class="container">
		<div class="flex items-center">
			<div class="w-2/12">
				{% if settings.logo != blank %}
					<img src="{{ settings.logo | image_url }}" alt="{{ shop.name }}" width="auto" height="auto">
				{% else %}
					{{ shop.name }}
				{% endif %}
			</div>

			<div class="w-4/12">
				<ul class="flex justify-center gap-6">
					{% for link in linklists['header-menu'].links %}
						<li class=" relative group">
							{% if link.links != blank %}
								<a class="" href="{{ link.url }}">
									{{- link.title -}}
									<i class="fa-solid fa-angle-down text-[#383838]"></i>
								</a>
								<ul class="absolute left-0 top-full bg-[#f0f0f0] mt-2 p-4 rounded-md w-40 hidden group-hover:block shadow-lg z-10 text-base">
									{% for child in link.links %}
										<li>
											<a
												class="block px-4 py-2 text-sm hover:bg-black rounded-md hover:text-white"
												href="{{ child.url }}"
											>
												{{- child.title -}}
											</a>
										</li>
									{% endfor %}
								</ul>
							{% else %}
								<a href="{{ link.url }}" class="{% if link.active %} font-semibold {% endif %}">
									{{- link.title -}}
								</a>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			</div>

			<div class="w-5/12">
				<form action="" class="flex bg-[#f0f0f0] rounded-full items-center">
					<i class="fa-solid fa-magnifying-glass mx-4 text-2xl text-[#909090]"></i>
					<input class="p-4 w-full focus:outline-none" type="search" placeholder="Search Your Product">
				</form>
			</div>
			<div class="w-1/12 flex justify-end gap-5">
				<a href="{{ routes.cart_url }}"><img src="{{ 'icon.png' | asset_url }}" alt=""></a>
				<a href="{% if customer %} {{ routes.account_url }} {% else %} {{ routes.account_login_url }} {% endif %}"
					><img src="{{ 'icon1.png' | asset_url }}" alt=""
				></a>
			</div>
		</div>
	</div>
</div>

{% schema %}
{
	"name": "Header",
	"class": "SST Header",
	"settings": []
}
{% endschema %}
