<div class="pt-12 bg-[#f0f0f0]">
	<div class="container">
		<div class="flex items-center gap-10">
			<div class="w-1/2">
				<h1 class="text-[64px] leading-[64px]">FIND CLOTHES THAT MATCHES YOUR STYLE</h1>
				<p class="my-5">
					Browse through our diverse range of meticulously crafted garments, designed to bring out your
					individuality and cater to your sense of style.
				</p>
				<a class="py-[16px] px-[54px] inline-block text-white bg-black rounded-full my-5" href="">Shop Now</a>

				<div class="flex gap-5 m">
					<div class="box">
						<div class="text-[40px] font-bold">200+</div>
						<span>International Brands</span>
					</div>
					<div class="border-1 border-[#dadada]"></div>
					<div class="box">
						<div class="text-[40px] font-bold">2,000+</div>
						<span>High-Quality Products</span>
					</div>
					<div class="border-1 border-[#dadada]"></div>
					<div class="box">
						<div class="text-[40px] font-bold">30,000+</div>
						<span>Happy Customers</span>
					</div>
				</div>
			</div>
			<div class="w-1/2">
				<div class="flex relative">
					<img class=" ml-[50px]" src="{{ 'model (1).png' | asset_url }}" alt="">
					<img class="absolute left-15 top-60" src="{{ 'star1.png' | asset_url }}" alt="">
					<img class="absolute right-0 top-20 " src="{{ 'star2.png' | asset_url }}" alt="">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="bg-black py-12">
	<div class="container">
		<div class="flex justify-between">
			<img src="{{ 'company1.svg' | asset_url }}" alt="">
			<img src="{{ 'company2.svg' | asset_url }}" alt="">
			<img src="{{ 'company3.svg' | asset_url }}" alt="">
			<img src="{{ 'company1.svg' | asset_url }}" alt="">
			<img src="{{ 'company4.svg' | asset_url }}" alt="">
			<img src="{{ 'company5.svg' | asset_url }}" alt="">
		</div>
	</div>
</div>

<div class="py-12">
	<div class="container">
		<h2 class="text-5xl text-center">NEW ARRIVALS</h2>
		<div class="flex flex-wrap -mx-4 mt-20">
			<div class="w-1/4 px-4 mb-12">
				<div class="relative pb-[100%] overflow-hidden rounded-3xl mb-4 bg-[#F0EEED]">
					<img class="absolute w-full h-full object-cover" src="{{ 'product1.png' | asset_url }}" alt="">
				</div>
				<div class="title">T-shirt with tape details</div>
				<div class="flex gap-3 my-1">
					<div class="rating ">
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star-half"></i>
					</div>
					<span>4.5/5</span>
				</div>
				<div class="price">$120</div>
			</div>
			<div class="w-1/4 px-4 mb-12">
				<div class="relative pb-[100%] overflow-hidden rounded-3xl mb-4 bg-[#F0EEED]">
					<img class="absolute w-full h-full object-cover" src="{{ 'product2.png' | asset_url }}" alt="">
				</div>
				<div class="title">T-shirt with tape details</div>
				<div class="flex gap-3 my-1">
					<div class="rating ">
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star-half"></i>
					</div>
					<span>4.5/5</span>
				</div>
				<div class="price">$120</div>
			</div>
			<div class="w-1/4 px-4 mb-12">
				<div class="relative pb-[100%] overflow-hidden rounded-3xl mb-4 bg-[#F0EEED]">
					<img class="absolute w-full h-full object-cover" src="{{ 'product3.png' | asset_url }}" alt="">
				</div>
				<div class="title">T-shirt with tape details</div>
				<div class="flex gap-3 my-1">
					<div class="rating ">
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star-half"></i>
					</div>
					<span>4.5/5</span>
				</div>
				<div class="price">$120</div>
			</div>
			<div class="w-1/4 px-4 mb-12">
				<div class="relative pb-[100%] overflow-hidden rounded-3xl mb-4 bg-[#F0EEED]">
					<img class="absolute w-full h-full object-cover" src="{{ 'product4.png' | asset_url }}" alt="">
				</div>
				<div class="title">T-shirt with tape details</div>
				<div class="flex gap-3 my-1">
					<div class="rating ">
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star-half"></i>
					</div>
					<span>4.5/5</span>
				</div>
				<div class="price">$120</div>
			</div>
			<div class="w-1/4 px-4 mb-12">
				<div class="relative pb-[100%] overflow-hidden rounded-3xl mb-4 bg-[#F0EEED]">
					<img class="absolute w-full h-full object-cover" src="{{ 'product5.png' | asset_url }}" alt="">
				</div>
				<div class="title">T-shirt with tape details</div>
				<div class="flex gap-3 my-1">
					<div class="rating ">
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star-half"></i>
					</div>
					<span>4.5/5</span>
				</div>
				<div class="price">$120</div>
			</div>
			<div class="w-1/4 px-4 mb-12">
				<div class="relative pb-[100%] overflow-hidden rounded-3xl mb-4 bg-[#F0EEED]">
					<img class="absolute w-full h-full object-cover" src="{{ 'product6.png' | asset_url }}" alt="">
				</div>
				<div class="title">T-shirt with tape details</div>
				<div class="flex gap-3 my-1">
					<div class="rating ">
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star-half"></i>
					</div>
					<span>4.5/5</span>
				</div>
				<div class="price">$120</div>
			</div>
			<div class="w-1/4 px-4 mb-12">
				<div class="relative pb-[100%] overflow-hidden rounded-3xl mb-4 bg-[#F0EEED]">
					<img class="absolute w-full h-full object-cover" src="{{ 'product10.png' | asset_url }}" alt="">
				</div>
				<div class="title">T-shirt with tape details</div>
				<div class="flex gap-3 my-1">
					<div class="rating ">
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star-half"></i>
					</div>
					<span>4.5/5</span>
				</div>
				<div class="price">$120</div>
			</div>
			<div class="w-1/4 px-4 mb-12">
				<div class="relative pb-[100%] overflow-hidden rounded-3xl mb-4 bg-[#F0EEED]">
					<img class="absolute w-full h-full object-cover" src="{{ 'product8.png' | asset_url }}" alt="">
				</div>
				<div class="title">T-shirt with tape details</div>
				<div class="flex gap-3 my-1">
					<div class="rating ">
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star-half"></i>
					</div>
					<span>4.5/5</span>
				</div>
				<div class="price">$120</div>
			</div>
		</div>
		<div class="text-center border-b-1 border-[#dadada] ">
			<a
				class="py-[16px] px-[84px] inline-block border-1 border-[#dadada] font-semibold rounded-full mb-16"
				href=""
				>View All</a
			>
		</div>
	</div>
</div>

<div class="py-12">
	<div class="container">
		<h2 class="text-5xl text-center">top selling</h2>
		<div class="flex flex-wrap -mx-4 mt-20">
			<div class="w-1/4 px-4 mb-12">
				<div class="relative pb-[100%] overflow-hidden rounded-3xl mb-4 bg-[#F0EEED]">
					<img class="absolute w-full h-full object-cover" src="{{ 'product1.png' | asset_url }}" alt="">
				</div>
				<div class="title">T-shirt with tape details</div>
				<div class="flex gap-3 my-1">
					<div class="rating ">
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star-half"></i>
					</div>
					<span>4.5/5</span>
				</div>
				<div class="price">$120</div>
			</div>
			<div class="w-1/4 px-4 mb-12">
				<div class="relative pb-[100%] overflow-hidden rounded-3xl mb-4 bg-[#F0EEED]">
					<img class="absolute w-full h-full object-cover" src="{{ 'product2.png' | asset_url }}" alt="">
				</div>
				<div class="title">T-shirt with tape details</div>
				<div class="flex gap-3 my-1">
					<div class="rating ">
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star-half"></i>
					</div>
					<span>4.5/5</span>
				</div>
				<div class="price">$120</div>
			</div>
			<div class="w-1/4 px-4 mb-12">
				<div class="relative pb-[100%] overflow-hidden rounded-3xl mb-4 bg-[#F0EEED]">
					<img class="absolute w-full h-full object-cover" src="{{ 'product3.png' | asset_url }}" alt="">
				</div>
				<div class="title">T-shirt with tape details</div>
				<div class="flex gap-3 my-1">
					<div class="rating ">
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star-half"></i>
					</div>
					<span>4.5/5</span>
				</div>
				<div class="price">$120</div>
			</div>
			<div class="w-1/4 px-4 mb-12">
				<div class="relative pb-[100%] overflow-hidden rounded-3xl mb-4 bg-[#F0EEED]">
					<img class="absolute w-full h-full object-cover" src="{{ 'product4.png' | asset_url }}" alt="">
				</div>
				<div class="title">T-shirt with tape details</div>
				<div class="flex gap-3 my-1">
					<div class="rating ">
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star-half"></i>
					</div>
					<span>4.5/5</span>
				</div>
				<div class="price">$120</div>
			</div>
		</div>
		<div class="text-center border-b-1 border-[#dadada] ">
			<a
				class="py-[16px] px-[84px] inline-block border-1 border-[#dadada] font-semibold rounded-full mb-16"
				href=""
				>View All</a
			>
		</div>
	</div>
</div>

<div class="py-12">
	<div class="container">
		<div class="bg-[#f0f0f0] rounded-3xl pt-20">
			<h2 class="text-5xl text-center">BROWSE BY dress STYLE</h2>
			<div class="grid grid-cols-12 overflow-hidden rounded-3xl gap-5 p-20">
				<div class="md:col-span-5 relative h-96 overflow-hidden rounded-3xl bg-white">
					<img class="w-full h-full object-cover" src="{{ 'model3.png' | asset_url }}" alt="">
					<div class="absolute top-6 left-9 text-black text-4xl font-bold">Casual</div>
				</div>
				<div class="md:col-span-7 relative h-96 overflow-hidden rounded-3xl bg-white">
					<img class="w-full h-full object-cover" src="{{ 'model4.png' | asset_url }}" alt="">
					<div class="absolute top-6 left-9 text-black text-4xl font-bold">Formal</div>
				</div>
				<div class="md:col-span-7 relative h-96 overflow-hidden rounded-3xl bg-white">
					<img class="w-full h-full object-cover " src="{{ 'model1.png' | asset_url }}" alt="">
					<div class="absolute top-6 left-9 text-black text-4xl font-bold">Party</div>
				</div>
				<div class="md:col-span-5 relative h-96 overflow-hidden rounded-3xl bg-white">
					<img class="w-full h-full object-cover" src="{{ 'model2.png' | asset_url }}" alt="">
					<div class="absolute top-6 left-9 text-black text-4xl font-bold">Gym</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class=" py-12">
	<div class="container">
		<h2 class="text-5xl mb-12">OUR HAPPY CUSTOMERS</h2>
		<script>
			jQuery(document).ready(function ($) {
				$('.testimonial-carousel').slick({
					slidesToShow: 3,
					prevArrow: '<button class="slick-prev"><i class="fa-solid fa-arrow-left"></i></button>',
					nextArrow: '<button class="slick-next"><i class="fa-solid fa-arrow-right"></i></button>'
				})
			})
		</script>

		<div class="testimonial-carousel -mx-4">
			{% for i in (1..10) %}
				<div class="p-3">
					<div class="border-1 border-[#e6e6e6] rounded-3xl p-6">
						<div class="flex gap-3 ">
							<div class="rating ">
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star-half"></i>
							</div>
						</div>
						<div class="flex text-lg items-center my-2">
							<div class="mr-2 text-xl font-bold">Sarah M.</div>
							<i class="fa-solid fa-circle-check text-[#01AB31]"></i>
						</div>
						<p>
							"I'm blown away by the quality and style of the clothes I received from Shop.co. From casual
							wear to elegant dresses, every piece I've bought has exceeded my expectations.”
						</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
